@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Poppins:wght@300;400;600&display=swap');

html {

  &::before,
  &::after {
    content: "";
    backface-visibility: hidden;
    position: fixed;
    top: 0;
    height: 100%;
    width: 20px;
    background: #EDC7B7;
  }

  &::after {
    z-index: 20000;
    right: 0;
  }

  &::before {
    z-index: 20000;
    left: 0;
  }
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  font-weight: 300;
  color: #1F1F1F;

  &::before,
  &::after {
    content: "";
    backface-visibility: hidden;
    position: fixed;
    left: 0;
    width: 100%;
    height: 20px;
    background: #EDC7B7;
  }

  &::before {
    z-index: 20000;
    top: 0;
  }

  &::after {
    z-index: 21000;
    bottom: 0;
  }
}

#root {
  min-height: calc(110vh - 40px);
  position: relative;
  background: #EEE2DC;
  overflow: hidden;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 15vh 10% 10vh;
  height: auto;
}

h1 {
  font-family: 'Indie Flower', cursive;
  font-size: 3rem;
  font-weight: 600;
  line-height: 3rem;
  margin: 0 0 2rem;
}

p, span {
  font-size: 0.95rem;
}

a {
  color: #F26C6C;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }

  &:active {
    color: #A7D0E8;
  }
}

.dot {
  color: #dc7027;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0 0 0 1rem;
  font-size: 0.9rem;
}