.job-item {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
  position: relative;
  padding: 0 2rem 1rem;
  margin-left: 4rem;
  border-left: 3px double #F7986C;

  &:before {
    content: '';
    position: relative;
    left: -45px;
    top: 25px;
    width: 15px;
    height: 15px;
    background: #EEE2DC;
    border: 4px solid #F26C6C;
    box-shadow: 0 0 1rem #F26C6C;
    border-radius: 50%;
    transition: all 500ms ease-in-out;
  }

  &:first-child::before {
    background: white;
    border: 4px solid #F26C6C;
    box-shadow: 0 0 1.2rem 0.1rem #F26C6C;
  }

  p {
    width: 90%;
    margin: 0;
    padding: 0;
    font-size: 0.88rem;
    line-height: 1.5rem;

    >div:nth-child(odd) {
      background: #EED5CA;
    }

  }
}

.job-title {
  position: relative;
  font-size: 1.1rem;
  font-weight: 600;
  text-decoration: underline;
}

.job-company {
  font-size: 1rem;
}

.job-date {
  font-size: 0.9rem;
}