.job-card {
  height: 25rem;
  width: 350px;
  margin: 2rem;
  background: #EDC7B7;
  box-shadow: 0px 0px 11px 1px rgba(31, 31, 31, 0.3);
  -webkit-box-shadow: 0px 0px 11px 1px rgba(31, 31, 31, 0.3);
  -moz-box-shadow: 0px 0px 11px 1px rgba(31, 31, 31, 0.3);
  font-size: 0.8rem;
}

.job-header {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 15%;
  padding: 5% 5% 5% 10%;
  background-color: #F26C6C;
}

.job-company {
  text-align: center;
  font-family: 'Indie Flower', cursive;
  font-weight: 600;
  font-size: 1.2rem;
}

.job-description {
  height: 55%;
  width: 90%;
  margin: 5% 5%;
  background-color: #EEE2DC;
  border-color: #EDC7B7;
  border-radius: 5px;
}

.job-title {
  font-weight: 600;
  font-size: 0.9rem;
  padding: 3% 5% 1%;
}

.job-responsibility {
  padding: 0 5%;
}

.job-duration {
  position: relative;
  text-align: right;
  padding: 1rem 5% 0 0;

  &::before {
    content: " ";
    display: block;
    height: 2px;
    width: 350px;
    background: rgba(31, 31, 31, 0.2);
    transform: translateY(-1vh);
  }
}