.job-timeline {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
  position: relative;
  left:10%;
  width: 50vw;
  padding: 0 0 1rem 2rem;

  &:before {
    content: '';
    position: relative;
    top: 25px;
    left: -45px;
    width: 15px;
    height: 15px;
    background: #EEE2DC;
    border: 4px solid #F26C6C;
    box-shadow: 0 0 1rem #F26C6C;
    border-radius: 50%;
  }

  &:first-child::before {
    background: white;
    border: 4px solid #F26C6C;
    box-shadow: 0 0 1.2rem 0.1rem #F26C6C;
  }
}

.vertical-timeline {
  border-left: 3px double #F7986C;
}

.winding-timeline {
  border-bottom: 2px dotted #F7986C;

  &:nth-child(odd) {
    border-left: 2px dotted #F7986C;
  }

  &:nth-child(even) {
    border-right: 2px dotted #F7986C;

    &:before {
      align-self: flex-end;
      left: 13px;
    }
  }

  &:last-child {
    border-bottom: none;
  }
}

.job-title {
  position: relative;
  font-size: 1.1rem;
  font-weight: 600;
  text-decoration: underline;
}

.job-company {
  font-size: 1rem;
}

.job-date {
  font-size: 0.9rem;
}

.job-responsibility {
  width: 90%;
  margin: 0;
  padding: 0;
  font-size: 0.88rem;
  line-height: 1.5rem;

  >div:nth-child(odd) {
    background: #EED5CA;
  }
}