@function multiple-box-shadow($n) {
  $value: '#{random(5000)}px #{random(5000)}px #EDC7B7';

  @for $i from 2 through $n {
    $value: '#{$value}, #{random(5000)}px #{random(5000)}px #EDC7B7';
  }

  @return unquote($value);
}

#pixels {
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: multiple-box-shadow(2100);
  animation: animPixel 50s linear infinite;
}

#medium-pixels {
  width: 6px;
  height: 6px;
  background: transparent;
  box-shadow: multiple-box-shadow(800);
  animation: animPixel 100s linear infinite;
}

@keyframes animPixel {
  from {
    transform: translateY(0px)
  }

  to {
    transform: translateY(-2000px)
  }
}