header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    height: auto;
    width: 100%;

    >.char-profile {
        position: relative;
        right: 1vw;
        height: auto;
        width: calc(100px + 25vw);
        margin-left: auto;
    }
}

section {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 8vh;
    right: auto;
    height: auto;
    max-width: 80%;
}
