.home-route {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    height: auto;
    width: 100%;

    >section>h1 {
        font-family: 'Indie Flower', cursive;
        font-size: 4em;
        font-weight: normal;
        line-height: 3rem;
        margin-bottom: 2rem;
    }

    >.char-profile {
        position: relative;
        right: 1vw;
        height: auto;
        width: calc(100px + 25vw);
        margin-left: auto;
    }
}

.home-text {
    margin-right: 3vw;
    
    >p {
        font-size: 1rem;
    }
}