.project-layout {
  display: flex;
  flex-direction: row;
  margin: 2.5rem 0 4rem;

  >div {
    display: flex;
    justify-content: center;
    flex: 1;
  }

  .project-text {
    margin: 1.5rem 0.5rem 0.5rem 1.4rem;
    white-space: pre-line;
  }

  .figure-overlay {
    display: inline-block;
    position: relative;
    width: auto;
    height: auto;

    .project-title {
      position: absolute;
      top: -3rem;
      left: 1rem;
      color: black;
      font-family: 'Poppins', sans-serif;
      font-weight: 600;
    }

    .project-link {
      position: absolute;
      top: 1rem;
      left: -1.5rem;
      z-index: 2;
      opacity: 0;
      font-size: 0.8rem;
      writing-mode: vertical-lr;
      transition: 0.5s ease-out;

      &:hover {
        color: #1F1F1F;
        text-decoration: none;
      }
    }

    &:hover {
      .project-figure {
        -webkit-filter: grayscale(.3);
        filter: grayscale(.3);
        transition: filter 0.5s ease-in;
      }

      .project-link {
        opacity: 1;
        transition: 0.5s ease-in;
      }
    }
  }

  .project-figure {
    height: auto;
    width: 45vw;
    border: 2px solid #EEE2DC;
    box-shadow: rgba(100, 100, 111, 0.4) 0px 7px 29px 0px;
    -webkit-filter: grayscale(.8) hue-rotate(3.142rad);
    filter: grayscale(.8) hue-rotate(3.142rad);
    transition: filter 0.5s ease-out;
  }

  &:nth-child(odd) {
    flex-direction: row-reverse;

    .project-title {
      left: auto;
      right: 1rem;
    }

    .project-link {
      left: auto;
      right: -1.5rem;
    }

    .project-text {
      margin-right: 1.4rem;
      margin-left: 0;
    }
  }
}

.tech-icons {
  display: flex;
  justify-content: space-evenly;

  .tech-svg {
    height: 3rem;
    width: 3rem;
  }
}

@media screen and (max-width: 768px) {
  .project-layout {
    flex-direction: column !important;

    .project-figure {
      height: auto;
      width: 100%;
    }

    .project-text {
      margin: 1rem 0;
    }

    .project-title {
      left: 1rem !important;
      font-size: 1rem;
    }

    .project-link {
      inset: auto 1rem -3.2rem auto !important;
      opacity: 1 !important;
      writing-mode: horizontal-tb !important;
      z-index: 2;
    }
  }
}