.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-items: center;
  gap: 40px;
}

.masonry-with-columns {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;

  div {
    flex: 1 0 auto;
    text-align: center;
    margin: 0 1rem 1rem 0;
    padding: 0 0.5rem;
    height: 18vh;
    border: 3px solid #EDC7B7;
    background: #EEE2DC;
    line-height: 1rem;
    filter: none;
    transition: 0.3s ease-in-out;

    >p {
      margin-top: 1rem;
    }
  }

  @for $i from 1 through 10 {
    div:nth-child(#{$i}) {
      $h: calc(random(1000)/500)*1rem;
      width: $h;
    }

    div:nth-child(odd) {
      border-color: #eea6a6;
    }

    div:nth-child(1) {
      width: 40%;
    }

    div:nth-child(5) {
      width: 40%;
    }
  }
}

.skill-svg {
  height: 3rem;
  width: 3rem;
}

.grid-skill-svg {
  height: 12vh;
  width: 12vw;
}

@media screen and (max-width: 1025px) {
  .skill-svg {
    height: 2.5rem;
    width: 2.5rem;
  }
}

@media screen and (max-width: 768px) {
  .masonry-with-columns {
    div:nth-child(1) {
      width: 90%;
    }

    div:nth-child(5) {
      width: 90%;
    }
  }
}